# Terraform local files
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
terraform.tfstate.backup

# Crash logs
crash.log

# Sensitive variables
*.tfvars

# Provider binaries
*.exe

# Terraform local files
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
terraform.tfstate.backup

# Crash logs
crash.log

# Sensitive variables
*.tfvars

# Provider binaries
*.exe
